/* RESET */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    line-height: 1;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #222327;
}

a,
p {
    text-decoration: none;
    color: white;
}

ol, ul {
    list-style: none;
}

/* HEADER */
.header {
    background: #222327;
    border-bottom: 7px solid #00bfff;
}

.header__item {
    padding: 2%;
    display: inline-block;
    position: relative;
}

.header__item:hover {
    background: #00bfff;
    outline: 1px solid white;
}

.header__item:hover .header__submenu {
    display: block;
    top: 70px;
    left: 0px;
}

.header__submenu {
    display: none;
    position: absolute;
}

.header__sublink,
.header__subsublink {
    display: block;
    padding: 12px;
    width: auto;
    height: 50px;
    white-space: nowrap;
    background: #00bfff;
    border: 1px solid white;
}


.header__subsubmenu {
    display: none;
}

.header__subsublink {
    position: relative;
    top: -30px;
    left: 102px;
}

.header__sublink:hover .header__subsubmenu {
    display: block;
}

/* MAIN */
h1 {
    padding: 5%;
    font-size: 5rem;
    text-align: center;
    color: #222327;
    text-shadow: 10px 10px 0px #00bfff,  -20px -20px 20px rgb( 0, 0, 128);
    -webkit-text-stroke: 2px #00bfff;
}

.main__conteiner {
    display: flex;
    flex-direction: row;
}

.main__text {
    width: 50%;
    margin: 5%;
}

/* FOOTER */

h2 {
    padding: 2%;
    background: #00bfff;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    font-size: 0.8rem;
    color: white;
}